<div class="container-fluid login-pg">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="loginFrm">
                <div class="form-group row">
                    <img src="../login_logo.png" alt="Login Logo" class="diplay-iln-block" />
                </div>
                <div class="form-group row">
                    <div class="col-md-2 col-md-offset-3">
                        <label for="frm-name">Name:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="frm-name" id="frm-name" class="width-100-pct" value="trle" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2 col-md-offset-3">
                        <label for="frm-password">Password:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="password" name="frm-password" id="frm-password" class="width-100-pct" value="welcome" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10">
                        <div class="float-right">
                            <button type="button" class="btn btn-rct-primary" ng-click="vm.authenticate()">Authenticate</button>
                        </div>
                    </div>
                </div>
                <div class="form-group row margin-top-50" ng-if="vm.authenticated">
                    <div class="col-md-2 col-md-offset-3">
                        <label for="frm-domain">Domain:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="frm-domain" id="frm-domain" class="width-100-pct" value="DEFAULT" />
                    </div>
                </div>
                <div class="form-group row" ng-if="vm.authenticated">
                    <div class="col-md-2 col-md-offset-3">
                        <label for="frm-project">Project:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="password" name="frm-project" id="frm-project" class="width-100-pct" value="Ascent" />
                    </div>
                </div>
                <div class="form-group row" ng-if="vm.authenticated">
                    <div class="col-md-10">
                        <div class="float-right">
                            <button type="button" class="btn btn-rct-primary" ng-click="vm.login()">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>