<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../logo.png" alt="HP Logo" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="main-tab">
          <a href="#"><h3>Quality Center <span>|</h1> <span class="sr-only">(current)</span></a>
        </li>
        <li class="dropdown defect-tab">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
            ng-click="$ctrl.openDefectList()">
              <h4>Defects <span class="caret" aria-hidden="true"></span></h4> </span>
          </a>
          <ul class="dropdown-menu" ng-class="{ 'display-block': $ctrl.active }">
            <li><a href="#">Home</a></li>
            <li><a href="#">Requirements</a></li>
            <li><a href="#">Defects</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Project: DEFAULT/Ascent</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Truyen Le</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav sub-tab">
                <li><a href="#"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>Define view</a></li>
                <li><a>|</a></li>
                <li><a href="#">Workspace</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="label label-rct-primary">Assigned To: Truyen Le | <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            <div class="label label-rct-primary">Status: (Fixed, In Progress, New, Not Ready) | <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
            <div class="label label-rct-otl-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Filter</div>
            <div class="label label-rct-otl-primary"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear Filter</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav action-nav">
                <li><span class="glyphicon glyphicon-plus padding-right" aria-hidden="true"></span><span class="hidden-xs">Add Defect</span></li>
                <li><span class="glyphicon glyphicon-th-list padding-right" aria-hidden="true"></span><span class="hidden-xs">Choose column</span></li>
                <li><span class="glyphicon glyphicon-share-alt padding-right" aria-hidden="true"></span><span class="hidden-xs">Go to Defect</span></li>
                <li><span class="glyphicon glyphicon-refresh padding-right" aria-hidden="true"></span><span class="hidden-xs">Refresh</span></li>
                <li><span class="glyphicon glyphicon-export padding-right" aria-hidden="true"></span><span class="hidden-xs">Export</span></li>
                <li><span class="glyphicon glyphicon-scissors padding-right" aria-hidden="true"></span><span class="hidden-xs">Split Pane</span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-hdr-default">
                    <tr>
                        <th><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></th>
                        <th>Defect #</th>
                        <th>Summary</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Severity</th>
                        <th>Priority</th>
                        <th>Assigned To</th>
                        <th>Date Reported</th>
                    </tr>
                    </thead>
                    <tbody class="table-bto-default">
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td><a href="#" class="a-primary">20275</a></td>
                            <td>Reject PO does not work in mws</td>
                            <td>I click on reject PO button in mws and it doesn't open the reject modal</td>
                            <td>Fixed</td>
                            <td>2-High</td>
                            <td>2</td>
                            <td>Truyen Le (trle)</td>
                            <td>09/01/2016</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>